.news {

}

.newsList {

}

.pagination {

}


.newsCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: auto;
    padding: 2rem;

    border: 1px solid black;
}