* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 550;
}

p {
    font-size: 1.1rem;
    font-weight: 520;
}

a {
    text-decoration: none;
}

Link, a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #9F1A59;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(21, 146, 171);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(31, 125, 2);
    border-radius: 12px;
}

::selection {
    color: white;
    background-color: #9F1A59;

    mix-blend-mode: difference;
}