* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 2rem;
}

span {
    font-size: inherit;
    font-weight: 520;
    color: #9F1A59;
}

strong {
    font-size: inherit;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.7rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 540;
}

p {
    font-size: 1.1rem;
    font-weight: 520;
}

a {
    text-decoration: none;
}

Link, a {
    color: #9F1A59;
}

thead > tr > th {
    border: 1px solid rgb(160 160 160);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

tbody > tr > td {
    padding: .5rem 1rem;
}

td {
    text-align: center;
    width: 10%;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: .4rem;
    height: .4rem;
}

::-webkit-scrollbar-track {
    background-color: #E094AD;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #9F1A59;
    border-radius: 12px;
}

::selection {
    color: white;
    background-color: #9F1A59;

    mix-blend-mode: difference;
}