.marks {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.marks_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.field {
    margin-bottom: 10px;
}
