.section {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem 0;

    > ol, ul {
        display: flex;
        flex-direction: column;
        gap: .5rem 0;
        text-align: left;
    }

    > img {
        width: 50%;
        object-fit: contain;
        align-self: center;
    }
}

.aside {
    width: 20%;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem 0;
    padding: 1rem 2rem;

    border: 2px dashed #9F1A59;
    border-radius: 1.5rem;

    > ol, ul {
        display: flex;
        flex-direction: column;
        gap: .5rem 0;
        text-align: left;
    }

    > img {
        width: 50%;
        object-fit: contain;
        align-self: center;
    }
}

.asideRight {
    position: absolute;
    right: 2rem;
}

.asideLeft {
    position: absolute;
    left: 2rem;
    top: 20%;
}