.section {
    display: flex;
    flex-direction: column;
    @media (min-width: 600px) {
        width: 50%;
    }
    @media (max-width: 600px) {
        width: 90%;
    }
    gap: 1rem 0;

    > ol, ul {
        display: flex;
        flex-direction: column;
        gap: .5rem 0;
        text-align: left;
    }

    > img {
        width: 50%;
        object-fit: contain;
        align-self: center;
    }
}

.aside {
    @media (min-width: 600px) {
        width: 20%;
    }
    @media (max-width: 600px) {
        width: 100%;
    }

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem 0;
    padding: 1rem 2rem;

    border: 2px dashed #9F1A59;
    border-radius: 1.5rem;

    > ol, ul {
        display: flex;
        flex-direction: column;
        gap: .5rem 0;
        text-align: left;
    }

    > img {
        width: 90%;
        object-fit: contain;
        align-self: center;
    }
}

.asideRight {
    @media (min-width: 600px) {
        position: absolute;
        right: 2rem;
    }
}

.asideLeft {
    @media (min-width: 600px) {
        position: absolute;
        left: 2rem;
        top: 20%;
    }
}