{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/admin/add_course.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/checkAccount.html' %}
{% endblock %}

{% block main %}
<div class='new_course'>
    {% include '/base_template/flash.html' %}

    <form method="post" enctype="multipart/form-data">
        {{ form_file.hidden_tag() }}
        {{form_file.file}}
        {{form_file.load_submit}}
    </form>
    <form method="post">
        <div class='course_fields'>
            {{ form_course.hidden_tag() }}
            {% for field in form_course if field.id not in ['schedules', 'teachers', 'formulas']%}
            <div class='field'>
                {{ field.label }}
                {{ field }}
            </div>
            {% endfor %}
            <br>
            {% for teacher in form_course.teachers %}
            {% for field in teacher.form %}
            {{ field() }} {{field.label}}
            {% endfor %}
            <br>
            {% endfor %}
            <br>
            {% for formula in form_course.formulas %}
            {% for field in formula.form %}
            {{ field.label }} {{ field() }}
            {% endfor %}
            <br>
            {% endfor %}
            <br>
            {% for schedule in form_course.schedules %}
            {% for field in schedule.form %}
            {{ field.label }} {{ field() }}
            {% endfor %}
            <br>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}
