{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/admin/add_course.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/check_account.html' %}
{% endblock %}

{% block main %}
<div class='new_course'>
    <div class='title'>
        <p>Добавление курса</p>
    </div>

    {% include '/base_template/flash.html' %}

    <form method="post" enctype="multipart/form-data">
        {{ form_file.hidden_tag() }}
        {{form_file.file}}
        {{form_file.load_submit}}
    </form>
    <form method="post">
        <div class='course_fields'>
            {{ form_course.hidden_tag() }}
            {% for field in form_course if field.id not in ['schedules', 'teachers', 'formulas'] %}
            {% include '/base_template/form.html' %}

            {% endfor %}
            <br>
            {% for teacher in form_course.teachers %}
            {% for field in teacher.form %}
            {{ field.label }} {{ field() }}
            {% endfor %}
            <br>
            {% endfor %}
            <br>
            {% for formula in form_course.formulas %}
            {% for field in formula.form %}
            {{ field.label }} {{ field() }}
            {% endfor %}
            <br>
            {% endfor %}
            <br>
            {% for schedule in form_course.schedules %}
            {% for field in schedule.form %}
            {% include '/base_template/form.html' %}
            {% endfor %}
            <br>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}
