{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="/static/css/admin/add_course/add_course.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/check_account.html' %}
{% endblock %}

{% block main %}
<div class='new_course'>
    <div class='title'>
        <p>Добавление курса</p>
    </div>

    {% include '/base_template/flash.html' %}

    <form method="post" enctype="multipart/form-data">
        {{ form_file.hidden_tag() }}
        {{form_file.file }}
        {{form_file.load_submit }}
    </form>
    <form method="post">
        <div class='course_fields'>
            {{ form_course.hidden_tag() }}
            {% for field in form_course if field.id not in ['schedules', 'teachers', 'formulas'] %}
            {% include '/base_template/form.html' %}
            {% endfor %}


            {% if form_course.teachers %}
            <div class='sep' style='width: 300px'>
                <div class='small_title'>
                    <p>Преподаватели</p>
                </div>
                <div class='teachers'>
                    {% for teacher in form_course.teachers %}
                    <div class='teacher'>
                        {{ teacher.form.id }}
                        {{ teacher.form.name }}
                        {{ teacher.form.name.label }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}


            {% if form_course.formulas %}
            <div class='sep'>
                <div class='small_title'>
                    <p>Формула оценки</p>
                </div>
                {% for formula in form_course.formulas %}
                {% for field in formula.form %}
                {% include '/base_template/form.html' %}
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}


            {% for schedule in form_course.schedules %}
            <div class='sep'>
                {% for field in schedule.form %}
                {% include '/base_template/form.html' %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}
