{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="/static/css/teacher/marks/marks.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/check_account.html' %}
{% endblock %}

{% block main %}

<div class='marks'>
    <div class='title'>
        <p>Ведомость курса</p>
    </div>

    {% include '/base_template/flash.html' %}

    <form method="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>
                    <p class='small_small_title'>
                        Даты занятий
                    </p>
                </td>
                {% for date in form.dates %}
                <td>{{ date(class='field disabled') }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>
                    <p class='small_small_title'>
                        Тип оценки
                    </p>
                </td>
                {% for mark_type in form.mark_types %}
                <td>{{ mark_type(class='field') }}</td>
                {% endfor %}
            </tr>

            <tr>
                {% for pupil in form.pupils %}
                <td>
                    {{ pupil.form.id}}
                    {{ pupil.form.name(class='small_small_title pupil') }}
                </td>

                {% for mark in pupil.form.marks %}
                <td>
                    {{ mark(class='field') }}
                </td>
                {% endfor %}
                {% endfor %}
            </tr>

            <tr>
                <td>
                    <p class='small_small_title'>Посещаемость</p>
                </td>
                {% for visit in form.visits %}
                <td>
                    {{ visit(class='field disabled') }}
                </td>
                {% endfor %}
            </tr>

            <tr>
                <td>
                    <p class='small_small_title'>
                        Средняя оценка за занятие
                    </p>
                </td>
                {% for average in form.average %}
                <td>
                    {{ average(class='field disabled') }}
                </td>
                {% endfor %}
            </tr>
        </table>

        {{ form.submit(class='submit') }}
    </form>
</div>

{% endblock %}
