.scheduleItem {
    display: flex;
    justify-content: space-between;

    width: 100%;

    > * {
        width: auto;
    }
}

.course {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}