.label {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    color: #8f1313;

    font-size: 1rem;
    font-weight: 500;

    > input {
        width: 100%;
    }
}

.input {
    padding: .7rem;
    font-size: 1.1rem;
    border: .2rem solid black;
    border-radius: .5rem;

    background-color: #F7B7CE;
    color: black;

    &:focus {
        border: .2rem solid black;
    }

    /*&:focus {
        border: .2rem solid #F7B7CE;
        color: white;
        background-color: #F7B7CE;
    }*/
}

.valid {
    border: .2rem solid #205c20;
    background-color: #e2ffe2;
}

.invalid {
    border: .2rem solid #8f1313;
    background-color: #ffd1d1;
}