.section {
    display: flex;
    width: auto;
    max-width: 90%;
    min-width: 90%;
    overflow-x: auto;
    gap: 0 1rem;

    > section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        gap: .5rem 0;
    }
}