.section {
    display: flex;
    width: auto;
    max-width: 90%;
    min-width: 80%;
    overflow-x: auto;
    gap: 0 1rem;

    > section {
        display: flex;
        flex-direction: column;
        @media (max-width: 600px) {
            width: auto;
            gap: 2.28rem 0;
        }
        @media (min-width: 600px) {
            min-width: 33%;
            gap: 2.3rem 0;
        }

        > * {
            white-space: nowrap;
        }
    }
}

.subject, .time {
    > h2 {
        margin-bottom: .35rem;
    }
}