.enter {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration_text {
    height: auto;
    font-size: 18px;
    color: #9F1A59;
}

.registration_container {
    margin-top: 10px;
}
