.container_remember {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.remember {
    width: 16px;
    height: 16px;
    margin-top: auto;
    margin-bottom: auto;
}


.enter {
    margin-top: 50px;
}

.button_registration {
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;

    font-size: 18px;
    color: #9F1A59;
}
