/* block for flash messages to show */
.flash_message {
    position: relative;
    top: 0%;

    width: 100%;
    margin-bottom: 20px;
    padding: 5px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    font-size: 20px;
}

.error {
    color: red;
}

.success {
    color: green;
}
