/* for button like <login>, <logout> and etc. */
.form_submit_button {
    width: 300px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #9F1A59;
    border: 0px;
    border-radius: 16px;

    color: white;
    font-size: 20px;

    transition: all .1s ease-out;
}

.form_submit_button:hover {
    transform: scale(1.05);
}

/* for field container form */
.form_container_field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 10px;
}

/* for field inside form */
.field {
    width: 300px;
    
    display: flex;
    justify-content: start;
    flex-direction: column;
}

/* for input form fields */
.form_input {
    width: 300px;
    height: 40px;

    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #9F1A59;

    background-color: #fcccde;
}

/* for input forms with showMessage */
.form_input_error {
    border-color: red;
    background-color: white;
}

/* for fields label in forms */
.form_text {
    padding: 5px;
}

/* for fields with checkbox in form */
.form_checkbox {
    width: 16px;
    height: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

/* for form containers with checkbox */
.form_container_checkbox {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

/* for file fields */
.form_container_file {
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* for empty file fields */
.form_file_button_error {
    width: 300px;
    
    color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 16px;
}
