<link href="../../static/css/base_template/form.css" rel="stylesheet">

<script src="../../static/js/jquery/jquery-3.7.1.min.js"></script>
<script src="../../static/js/jquery/jquery.maskedinput.min.js"></script>
<script src='/static/js/base_template/validate.js'></script>

<div class='form_container_field'>
    {% if field.type == 'FileField' %}
    <div class='form_container_file field'>
        {{ field.label(class='form_text') }}
        <div>
            {% if field.errors %}
            {{ field(class='form_file_button form_file_button_error') }}
            {% else %}
            {{ field(class='form_file_button') }}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if field.type == 'StringField' or field.type == 'PasswordField' %}
    <div class='field'>
        {{ field.label(class='form_text') }}
        <div>
            {% if field.errors %}

            {{ field(class='form_input form_input_error', size=32, placeholder=field.errors[0], value='') }}
            {% else %}

            {% if user[field.id] and title == account %}
            {{ field(class='form_input', size=32, placeholder='Введите данные', value=user[field.id]) }}
            {% else %}
            {{ field(class='form_input', size=32, placeholder='Введите данные') }}
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if field.type == 'SelectField' %}
    <div class='field'>
        {{ field.label(class='form_text') }}
        <div>
            {{ field(class='form_input') }}
        </div>
    </div>
    {% endif %}

    {% if field.type == 'BooleanField' %}
    <div class='form_container_checkbox field'>
        {{ field.label(class='form_text') }}
        {{ field(class='form_checkbox') }}
    </div>
    {% endif %}

    {% if field.type == 'SubmitField' %}
    <div>
        {{ field(class='form_submit_button') }}
    </div>
    {% endif %}

    {% if field.type == 'DateField' %}
    <div class='field'>
        {{ field.label(class='form_text') }}
        <div>
            {% if field.errors %}
            {{ field(class='form_input form_input_error', size=32, placeholder=field.errors[0], value='') }}
            {% else %}
            {{ field(class='form_input', size=32) }}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if field.type == 'TelField' %}
    <div class='field'>
        {{ field.label(class='form_text') }}
        <div>
            {% if field.errors %}
            {{ field(class='form_input form_input_error phone', size=32, placeholder=field.errors[0], value='') }}
            {% else %}

            {% if user[field.id] and title == account %}
            {{ field(class='form_input phone', placeholder='+7 (999) 999-99-99', value=user[field.id]) }}
            {% else %}
            {{ field(class='form_input phone', placeholder='+7 (999) 999-99-99') }}

            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if field.type == 'EmailField' %}
    <div class='field'>
        {{ field.label(class='form_text') }}
        <div>
            {% if field.errors %}
            {{ field(class='form_input form_input_error email', size=32, placeholder=field.errors[0], value='') }}
            {% else %}

            {% if user[field.id] and title == account %}
            {{ field(class='form_input email', placeholder='example@mail.ru', value=user[field.id]) }}
            {% else %}
            {{ field(class='form_input email', placeholder='example@mail.ru') }}

            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if field.type == 'IntegerField' %}
    <div class='field'>
        {{ field.label(class='form_text') }}
        <div>
            {% if field.errors %}
            {{ field(class='form_input form_input_error', size=32, placeholder=field.errors[0], value='') }}
            {% else %}
            {{ field(class='form_input', placeholder='2024') }}
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
