.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 2rem;

    z-index: 100;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 50%;
    padding: 1rem 2rem;

    color: black;
    background-color: #F7B7CE;

    border: 1px dotted #9F1A59;
    border-radius: 1rem;

    z-index: 100;

    > h3 {
        align-self: center;
        margin-bottom: 2rem;
    }

    > * {
        color: #3c3c3c;
        font-weight: bold;
    }

    > img {
        position: absolute;
        top: .5rem;
        right: .5rem;

        width: 2rem;
        object-fit: contain;

        cursor: pointer;
    }
}