<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="../static/photos/msu_logo.png">
    <link href="../static/css/base/header/header.css" rel="stylesheet">
    <link href="../static/css/base/header/hidden_menu.css" rel="stylesheet">
    <link href="../static/css/base/footer.css" rel="stylesheet">
    <script src="../static/js/base/progress_bar.js"></script>
    <script src="../static/js/base/hidden_menu.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="logo">
            <a href='home'>
                <div class="msu_logo"></div>
            </a>
            <div class="logo_contacts">
                <div class="logo_contact logo_contacts_tg">
                    <a href="https://t.me/+I64hhfiK5vs1N2Vi">tg</a>
                </div>

                <div class="vertical_line">
                    <p>|</p>
                </div>

                <div class="logo_contact logo_contacts_vk">
                    <a href="https://vk.com/emsch">vk</a>
                </div>

                <div class="vertical_line">
                    <p>|</p>
                </div>

                <div class="logo_contact logo_contacts_email">
                    <a>email</a>
                </div>
            </div>
        </div>

        <div class='header_table'>
            <div class="header_buttons">
                <div class="header_button news">
                    <p>Новости</p>
                </div>
                <div class="header_button courses">
                    <p>Курсы</p>
                </div>

                <div class="header_button events">
                    <p>События</p>
                </div>

                <div class="header_button community">
                    <p>Сообщество</p>
                </div>
            </div>

            <div class="hidden_menu">
                <div class="hidden_menu_block">
                </div>

                <div class="hidden_menu_block hidden_menu_courses">
                    <div class="hidden_menu_body">
                        <div class="hidden_menu_text">
                            <p>Расписание</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Мои курсы</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Все курсы</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Ведомость</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Списки зачетных курсов</p>
                        </div>
                    </div>
                </div>

                <div class="hidden_menu_block hidden_menu_events">
                    <div class="hidden_menu_body">
                        <div class="hidden_menu_text">
                            <p>Конкурс Научных Работ</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Открытый Чемпионат</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Выездная Школа</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Летняя Школа</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Летний Лагерь</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Вступительные испытания</p>
                        </div>
                    </div>
                </div>

                <div class="hidden_menu_block hidden_menu_community">
                    <div class="hidden_menu_body">
                        <div class="hidden_menu_text">
                            <p>Об ЭМШ</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Люди</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Список учащихся</p>
                        </div>
                        <div class="hidden_menu_text">
                            <p>Архив событий</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="personal_account">
            <a href='account'>
                <div class="personal_account_info">
                    <div class="personal_account_name">
                        <p>{{user.name}}</p>
                    </div>

                    <div class="personal_account_surname">
                        <p>{{user.surname}}</p>
                    </div>

                    <div class="personal_account_status">
                        <p>{{user.status}}</p>
                    </div>
                </div>
            </a>

            <a href='account'>
                <div class="personal_account_photo"></div>
            </a>
        </div>

        <div class="progress_bar_container">
            <div class="progress_bar" id="progress_bar"></div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="address">
            <p class="footer_header">Адрес:</p>
            <p>119991, Москва, Ленинские горы</p>
            <p>III Гуманитарный корпус, д. 1, стр. 46</p>
            <p>Экономический факультет, к.364.</p>
        </div>

        <div class="contacts">
            <p class="footer_header">Контакты:</p>
            <p>Телефон - 8 (495) 939-16-06</p>
            <p>E-mail - info@emsch.ru</p>
            <p>Вконтакте - https://vk.com/emsch</p>
        </div>

        <div class="copyright">
            <p>Copyright © 2023 ЭМШ. All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>
