<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" lang='ru'>
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/static/photos/msu_logo.png">
    <link href="/static/css/base/header/header.css" rel="stylesheet">
    <link href="/static/css/base/header/hidden_menu.css" rel="stylesheet">
    <link href="/static/css/base/main.css" rel="stylesheet">
    <link href="/static/css/base/footer.css" rel="stylesheet">
    <link href="/static/css/base_template/template.css" rel="stylesheet">

    <script src="/static/js/base/progress_bar.js"></script>
    <script src="/static/js/base/hidden_menu.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="logo">
            <a href='/'>
                <div class="msu_logo"></div>
            </a>
            <div class="logo_contacts">
                <div class="logo_contact logo_contacts_tg">
                    <a href="https://t.me/+I64hhfiK5vs1N2Vi">tg</a>
                </div>

                <div class="vertical_line">
                    <p>|</p>
                </div>

                <div class="logo_contact logo_contacts_vk">
                    <a href="https://vk.com/emsch">vk</a>
                </div>

                <div class="vertical_line">
                    <p>|</p>
                </div>

                <div class="logo_contact logo_contacts_email">
                    <a>email</a>
                </div>
            </div>
        </div>

        <div class='header_table'>
            <div class="header_buttons">
                <a href='https://emsch.ru/'>
                    <div class="header_button news">
                        <p>Новости</p>
                    </div>
                </a>
                <div class="header_button courses">
                    <p>Курсы</p>
                </div>

                <div class="header_button events">
                    <p>События</p>
                </div>

                <div class="header_button community">
                    <p>Сообщество</p>
                </div>
            </div>

            <div class="hidden_menu">
                <div class="hidden_menu_block">
                </div>

                <div class="hidden_menu_block hidden_menu_courses">
                    <div class="hidden_menu_body">
                        <a href='/schedule'>
                            <div class="hidden_menu_text">
                                <p>Расписание</p>
                            </div>
                        </a>
                        <a href='/my_courses'>
                            <div class="hidden_menu_text">
                                <p>Мои курсы</p>
                            </div>
                        </a>
                        <a href='/all_courses'>
                            <div class="hidden_menu_text">
                                <p>Все курсы</p>
                            </div>
                        </a>
                        <!--
                        <a href='https://emsch.ru/zachjotnye-kursy-2023-2024/'>
                            <div class="hidden_menu_text">
                                <p>Списки зачетных курсов</p>
                            </div>
                        </a>
-->
                        {% if user.admin == 1 %}
                        <a href='/admin/add_course'>
                            <div class="hidden_menu_text">
                                <p>Добавить новый курс</p>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>

                <div class="hidden_menu_block hidden_menu_events">
                    <div class="hidden_menu_body">
                        <a href='https://emsch.ru/about/kak-postupit/'>
                            <div class="hidden_menu_text">
                                <p>Вступительные испытания</p>
                            </div>
                        </a>
                        <a href='https://emsch.ru/otkrytyj-chempionat-po-ekonomike-sredi-shkol/'>
                            <div class="hidden_menu_text">
                                <p>Открытый Чемпионат</p>
                            </div>
                        </a>
                        <a href='https://emsch.ru/zhizn/knr/'>
                            <div class="hidden_menu_text">
                                <p>Конкурс Научных Работ</p>
                            </div>
                        </a>
                        <a href='https://emsch.ru/zhizn/vyezdnaya-shkola/'>
                            <div class="hidden_menu_text">
                                <p>Выездная Школа</p>
                            </div>
                        </a>
                        <a href='https://emsch.ru/zhizn/letnyaya-shkola/'>
                            <div class="hidden_menu_text">
                                <p>Летняя Школа</p>
                            </div>
                        </a>
                        <a href='https://emsch.ru/letnij-lager-ef-mgu/letniy-lager/'>
                            <div class="hidden_menu_text">
                                <p>Летний Лагерь</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="hidden_menu_block hidden_menu_community">
                    <div class="hidden_menu_body">
                        <a href='https://emsch.ru/learning/my-emsch/'>
                            <div class="hidden_menu_text">
                                <p>Об ЭМШ</p>
                            </div>
                        </a>
                        <a href='https://emsch.ru/archive/prepodavateli/'>
                            <div class="hidden_menu_text">
                                <p>Преподаватели и дирекция</p>
                            </div>
                        </a>
                        <a href='https://emsch.ru/learning/spiski-perevedyonnyh-v-2023-2024-uchebnyj-god/'>
                            <div class="hidden_menu_text">
                                <p>Список учащихся</p>
                            </div>
                        </a>
                        <a href='https://emsch.ru/archive/'>
                            <div class="hidden_menu_text">
                                <p>Архив событий</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="personal_account">
            {% block account %}{% endblock %}
        </div>


        <div class="progress_bar_container">
            <div class="progress_bar" id="progress_bar"></div>
        </div>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <div class="address">
            <p class="footer_header">Адрес:</p>
            <p>119991, Москва, Ленинские горы</p>
            <p>III Гуманитарный корпус, д. 1, стр. 46</p>
            <p>Экономический факультет, к.364.</p>
        </div>

        <div class="contacts">
            <p class="footer_header">Контакты:</p>
            <p>Телефон - 8 (495) 939-16-06</p>
            <p>E-mail - info@emsch.ru</p>
            <p>Вконтакте - https://vk.com/emsch</p>
        </div>

        <div class="copyright">
            <p>Copyright © 2024 ЭМШ. All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>
