{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="../static/css/home.css" rel="stylesheet">
</head>
<main>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
</main>
{% endblock %}
