{% extends "base.html" %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="../static/css/home/home.css" rel="stylesheet">
</head>
{% endblock %}

{% block content %}
<main>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
</main>
{% endblock %}
