.label {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-size: 1rem;
    font-weight: 500;

    > input {
        width: 100%;
    }
}

.input, .textarea {
    padding: .7rem;
    font-size: 1.1rem;

    color: black;
    background-color: #f4dae4;
    border: none;
    border-radius: .5rem;

    /*&:focus {
        border: .2rem solid #F7B7CE;
        color: white;
        background-color: #F7B7CE;
    }*/
}

.textarea {
    width: 100%;
    min-width: 100%;
    min-height: 10rem;
}

.valid {
    background-color: #d5fad5;
}

.invalid {
    background-color: #ffd1d1;
}

.errorMessage {
    color: #8f1313;
}