.section {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: .5rem 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item {
    width: 25%;
    text-align: center;
}


.sectionTeachers {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0 2rem;
}

.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    white-space: nowrap;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    white-space: nowrap;
}

.roles {
    display: flex;
    max-width: 40%;
    overflow: auto;
}

.admins {
    width: 100%;

}