{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/account/account.css" rel="stylesheet">
<script src="../../static/js/account/account.js"></script>
{% endblock %}

{% block account %}

<form action='' method='post'>
    <div>
        {{ form_logout.submit(class='header_account_button')}}
    </div>
</form>
{% endblock %}

{% block main %}

<div class='account'>
    <div class='account_photo'>
        <image src='{{ user.photo }}' class='photo'></image>
        {{ form_account.image }}
    </div>

    <form action="" method="patch" novalidate>
        {{ form_account.hidden_tag() }}

        {% for field in form_account if field.id != 'image' and field.id != 'submit_logout' %}

        <div class='form_container_text'>
            {% if field.type == 'FileField' %}
            {{ field.label(class='form_text') }}
            <div>
                {{ field(class='form_file_button') }}
            </div>
            {% endif %}

            {% if field.type == 'StringField' or field.type == 'PasswordField' %}
            {{ field.label(class='form_text') }}
            <div>
                {% if field.errors %}
                {{ field(class='form_input form_input_error', size=32, placeholder='Поле обязательно для заполнения', value='') }}
                {% else %}
                {{ field(class='form_input', size=32) }}
                {% endif %}
            </div>
            {% endif %}

            {% if field.type == 'SelectField' %}
            {{ field.label(class='form_text') }}
            <div>
                {{ field(class='form_input') }}
            </div>
            {% endif %}

            {% if field.type == 'SubmitField' %}
            <div>
                {{ field(class='form_submit_button') }}
            </div>
            {% endif %}
        </div>

        {% endfor %}
    </form>

    <div class='statistics'>
        <div>
            <p>Ваш статус и достижения</p>
        </div>

        <div>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}
