{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="/static/css/all_courses/all_courses.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/check_account.html' %}
{% endblock %}

{% block main %}

<div>
    <div class='title'>
        <p>Все курсы</p>
    </div>

    {% for course in courses %}
    <div class='course'>
        <p>{{ course.name }}</p>
        <p>{{ course.grades }}</p>
        <p>{{ course.crediting }}</p>
        <p>{{ course.direction }}</p>
        {% if course.auditory %}
        <p>{{ course.auditory }}</p>
        {% else %}
        <p class='noauditory'>Нет аудитории</p>
        {% endif %}
        <p>{{ course.lesson_time }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
