{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="/static/css/all_courses/all_courses.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/check_account.html' %}
{% endblock %}

{% block main %}

<div class='all_courses'>
    <div class='title'>
        <p>Все курсы</p>
    </div>

    {% for course in courses %}
    <div class='course'>
        <a href='/marks/{{ course.id }}'>
            <p class='course_text'>{{ course.name }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
