{% extends "base.html" %}

{% block head %}

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="../../static/css/home/home.css" rel="stylesheet">
</head>
{% endblock %}

{% block account %}
<a href='account'>
    <div class='header_registartion'>
        <p>Войти</p>
    </div>
</a>
{% endblock %}

{% block main %}
<div class='home'>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
</div>
{% endblock %}
