{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/home/home.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/checkAccount.html' %}
{% endblock %}

{% block main %}
<div class='home'>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
</div>
{% endblock %}
