{% extends "base.html" %}

{% block head %}

<head>
    <title>{{title}}</title>
    <link href="../../static/css/home/home.css" rel="stylesheet">
</head>
{% endblock %}

{% block account %}

{% if authenticated == False %}
<a href='login'>
    <div class='header_registartion'>
        <p>Войти</p>
    </div>
</a>
{% else %}
<a href='account'>
    <div class="personal_account_info">
        <div class="personal_account_name">
            <p>{{user.name}}</p>
        </div>

        <div class="personal_account_surname">
            <p>{{user.surname}}</p>
        </div>

        <div class="personal_account_status">
            <p>{{user.status}}</p>
        </div>
    </div>
</a>

<a href='account'>
    <div class="personal_account_photo"></div>
</a>
{% endif %}

{% endblock %}

{% block main %}
<div class='home'>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
    <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
</div>
{% endblock %}
