{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/login/login.css" rel="stylesheet">
<script src="../../static/js/login/login.js"></script>
{% endblock %}


{% block main %}

<div class='login'>
    <form action="" method="post" novalidate>
        {{ form_login.hidden_tag() }}
        <div class='form_container_text'>
            {{ form_login.email.label(class='form_text') }}

            {% if form_login.email.errors %}
            {{ form_login.email(class='form_input form_input_error', size=32, placeholder='Некорректный ввод', value='') }}
            {% else %}
            {{ form_login.email(class='form_input', size=32, placeholder='Введите email') }}
            {% endif %}


        </div>

        <div class='form_container_text'>
            {{ form_login.password.label(class='form_text') }}

            {% if form_login.password.errors %}
            {{ form_login.password(class='form_input form_input_error', size=32, placeholder='Некорректный ввод', value='') }}
            {% else %}
            {{ form_login.password(class='form_input', size=32, placeholder='Введите пароль') }}
            {% endif %}
        </div>

        <div class='form_container_checkbox'>
            {{ form_login.remember.label(class='form_text') }}
            {{ form_login.remember(class='form_checkbox') }}
        </div>

        <div class='enter'>
            <div>{{ form_login.submit(class='form_submit_button') }}</div>

            <div class='registration'>
                <div class='registration_container'>
                    <a href='/registration/pupil'>
                        <p class='registration_text'>Зарегистрироваться ученику</p>
                    </a>
                </div>

                <div class='registration_container'>
                    <a href='/registration/teacher'>
                        <p class='registration_text'>Зарегистрироваться преподавателю</p>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
