{% extends "base.html" %}

{% block head %}

<head>
    <title>{{title}}</title>
    <link href="../../static/css/login/login.css" rel="stylesheet">
    <script src="../../static/js/login/login.js"></script>
</head>
{% endblock %}


{% block main %}

<div class='login'>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class='container_text'>
            {{ form.email.label(class='text') }}

            {% if form.email.errors %}
            {{ form.email(class='input error_input', size=32, placeholder='Некорректный ввод', value='') }}
            {% else %}
            {{ form.email(class='input', size=32, placeholder='Введите email') }}
            {% endif %}


        </div>

        <div class='container_text'>
            {{ form.password.label(class='text') }}

            {% if form.password.errors %}
            {{ form.password(class='input error_input', size=32, placeholder='Некорректный ввод', value='') }}
            {% else %}
            {{ form.password(class='input', size=32, placeholder='Введите пароль') }}
            {% endif %}
        </div>

        <div class='container_remember'>
            {{ form.remember.label(class='text') }}
            {{ form.remember(class='checkbox remember') }}
        </div>

        <div class='enter'>
            <a href='/registration'>
                <div class='button_registration'>
                    <p>Зарегистрироваться</p>
                </div>
            </a>

            <div>{{ form.submit(class="submit_button") }}</div>
        </div>
    </form>
</div>
{% endblock %}
