{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/marks/marks.css" rel="stylesheet">
<script src="../../static/js/marks/marks.js"></script>
{% endblock %}

{% block account %}

{% include '/base_template/check_account.html' %}
{% endblock %}

{% block main %}

<div class='marks'>
    {% for course in courses %}
    <div class='course'>
        <a href='/marks{{ course.id }}'>
            {{ course.name }}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
