{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/my_courses/my_courses.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/check_account.html' %}
{% endblock %}

{% block main %}

<div class='my_courses'>
    <div class='title'>
        <p>Мои курсы</p>
    </div>

    {% for course in courses %}
    <a href='/marks/{{ course.id }}'>
        <div class='course'>
            {{ course.name }}
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
