{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/registration/registration.css" rel="stylesheet">
<script src="../../static/js/registration/registration.js"></script>

{% endblock %}

{% block account %}

{% include '/base_template/checkAccount.html' %}
{% endblock %}


{% block main %}

<div class='registration'>
    {% include '/base_template/flash.html' %}

    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form_registration.hidden_tag() }}

        {% for field in form_registration %}
        {% include '/base_template/form.html' %}
        {% endfor %}
    </form>
</div>
{% endblock %}
