{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/registration/registration.css" rel="stylesheet">
<script src="../../static/js/registration/registration.js"></script>
<script src='/static/js/base/templates.js'></script>

{% endblock %}

{% block account %}
<a href='/login'>
    <div class='header_account_button'>
        <p>Войти</p>
    </div>
</a>
{% endblock %}


{% block main %}

<div class='registration'>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form_registration.hidden_tag() }}

        {% for field in form_registration %}
        {% include '/base_template/form.html' %}

        {% endfor %}
    </form>
</div>
{% endblock %}
