{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="../../static/css/schedule/schedule.css" rel="stylesheet">
<script src="../../static/js/schedule/schedule.js"></script>
{% endblock %}

{% block account %}

{% include '/base_template/checkAccount.html' %}
{% endblock %}

{% block main %}

<div class='schedule'>
    <div class='schedule_weeks'>
        <div>
            <div>
                <p>Текущая неделя</p>
            </div>

            <div>
                {% for lesson in lessons_in_week %}
                <div class='lesson'>
                    <div class='date'>
                        {{ lesson.date }}
                    </div>
                    <div>
                    {{ lesson.lesson_time }}
                    </div>
                    <div>
                    {{ lesson.auditory }}
                    </div>
                    <div class='lesson_name {{ course_type }}'>
                        {{ lesson.course_name }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <div>
                <p>Следующая неделя</p>
            </div>

            <div>
                {% for lesson in lessons_in_two_weeks %}
                <div class='lesson'>
                    {{ lesson.date(class='date') }}
                    {{ lesson.lesson_time }}
                    {{ lesson.auditory }}
                    {{ lesson.course_name(class='lesson_name {{ course_type }}') }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class='calendar'>

    </div>
</div>
{% endblock %}
