.home {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'schedule schedule'
        'news achievements';
}

.schedule {
    grid-area: schedule;
}

.news {
    grid-area: news;
}

.achievements {
    grid-area: achievements;
}