.home {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'schedule news'
        'myCourses news';
    gap: 2rem;
}

.schedule {
    grid-area: schedule;
}

.news {
    grid-area: news;
}

.myCourses {
    grid-area: myCourses;
}