.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: auto;
    padding: .5rem 0;

    border-top: 1px solid #9F1A59;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
    }
}