{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="/static/css/pupil/marks/marks.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/check_account.html' %}
{% endblock %}

{% block main %}

<div class='marks'>
    <div class='title'>
        <p>Ведомость курса "{{ pupil_marks.course_name }}"</p>
    </div>
    
    <div class='marks_container'>
        <div class='container'>
            {% for mark in pupil_marks.marks %}
            <div class='field'>
                {{ mark }}
            </div>
            {% endfor %}
        </div>

        <div class='container'>
            {% for mark_type in pupil_marks.mark_types %}
            <div class='field'>
                {{ mark_type }}
            </div>
            {% endfor %}
        </div>

        <div class='container'>
            {% for date in pupil_marks.dates %}
            <div class='field'>
                {{ date }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class='field' style='margin-top: 30px;'>
        <p>Количество пропусков</p>
        {{ pupil_marks.skips }}
    </div>
    
    <div class='field'>
        <p>Средняя оценка</p>
        {{ pupil_marks.result }}
    </div>

</div>

{% endblock %}
