{% extends "base.html" %}

{% block head %}

<title>{{title}}</title>
<link href="/static/css/pupil/marks/marks.css" rel="stylesheet">
{% endblock %}

{% block account %}

{% include '/base_template/check_account.html' %}
{% endblock %}

{% block main %}

<div>
    <div class='title'>
        <p>Ведомость курса "{{ pupil_marks.course_name }}"</p>
    </div>

    <div class='marks'>
        <div class='container'>
            {% for mark in pupil_marks.marks %}
            <div class='field'>
                {{ mark }}
            </div>
            {% endfor %}
        </div>

        <div class='container'>
            {% for mark_type in pupil_marks.mark_types %}
            <div class='field'>
                {{ mark_type }}
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
