.marksSection {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    overflow: auto;
    padding-bottom: 1rem;

    > section {
        display: flex;
    }
}

.row {
    display: flex;
    justify-content: center;
    border-bottom: 1px dashed #9F1A59;
    padding-bottom: .5rem;
    /*white-space: nowrap;*/

    > * {
        width: 100%;
        gap: 2rem 0;
    }
}