.datesSection {
    display: flex;
    gap: 0 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: auto;
    gap: .5rem 0;
    padding: .5rem 0;
    border-bottom: 1px dashed #9F1A59;
}


.markTypes {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0 3rem;

    > p {
        text-align: center;
    }
}