.hidden_menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 800px;
    top: 100px;
    z-index: 9;
}

.hidden_menu_block {
    width: 180px;
}

.hidden_menu_courses,
.hidden_menu_events,
.hidden_menu_community {
    visibility: hidden;
}

.hidden_menu_body {}

.hidden_menu_text {
    background-color: #FFB3CC;
    font-size: 18px;
    color: black;
    padding: 10px;
    border-bottom: 1px solid #9F1A59;
    transition: all .1s ease-out;
}

.hidden_menu_text:hover {
    border-radius: 16px;
    transform: scale(1.1);
    background-color: #E094AD;
    color: white;
}
