.hidden_menu {
    position: absolute;
    display:flex;
    justify-content: space-between;
    width: 800px;
    visibility: hidden;
    top: 102px;
    z-index: 9;
}

.hidden_menu_block {
    height: auto;
    width: 180px;
}

.hidden_menu_body {
    height: auto;
}

.hidden_menu_text {
    background-color: #FFB3CC;
    font-size: 18px;
    color: black;
    padding: 10px;
    border-bottom: 1px solid #9F1A59;
    transition: all .1s ease-out;
}

.hidden_menu_text:hover {
    border-radius: 16px;
    transform: scale(1.1);
    background-color: #E094AD;
    color: white;
}