.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.block_photo {
    position: relative;
    left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;

    object-fit: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.block_photo_text {
    color: #9F1A59;
    font-size: 18px;
}


.block_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 20px;
}

.block_text > p {
    width: 100px;
    justify-content: end;
}

.logout {
    margin-top: 100px;
    width: 300px;
    height: 40px;
    background-color: #9F1A59;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border: 1px solid white;
}

.logout:hover {
    transition: 0.1s ease-in-out 0.1s;
    transform: scale(1.1);
}
