main {
    margin: 50px;
    display: inline-block;
}


.block_photo {
    position: relative;
    left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block_photo_text {
    color: #9F1A59;
    font-size: 20px;
}
