.registration_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration_form_field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}