footer {
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    width: 100%;

    border-top: solid #9F1A59 2px;
}

footer.p {
    font-size: 18px;
}


.footer_header {
    font-weight: bold;
}
