* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}


header {
    position: relative;
    display: flex;
    justify-content: space-around;


    height: 150px;
    background-color: white;
    width: 100%;
    z-index: 1;

    position: sticky;
    top: 0px;
}


.logo {
}

.msu_logo {
    background-image: url("../../photos/msu_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
}

.logo_contacts {
    width: 120px;
    display: flex;
    justify-content: space-around;
}


.header_buttons {
    width: 800px;
    
    display: flex;
    justify-content: space-around;
}

.header_button {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s ease-out;

    width: 180px;
    height: 60px;
    background-color: #9F1A59;
    border-radius: 0px 16px;
}

.header_button:hover {
    transform: scale(1.1);
}

.header_button p {
    color: white;
    font-size: 24px;
}

.personal_account {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.personal_account_info {
    display: flex;
    flex-direction: column;
    text-align: end;

    color: black;
    font-size: 18px;
}

.personal_account_photo {
    background-color: #9F1A59;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.progress_bar {
    height: 20px;
    width: 20px;
    background-color: red;
    position: relative;

    animation: scaleProgress auto linear;

}

@keyframes scaleProgress {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}
