.header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    @media (min-width: 600px) {
        width: 100%;
    }
    padding-bottom: 1rem;

    z-index: 100;

    background: linear-gradient(white 20%, rgba(255, 255, 255, 0.8) 100%);
}


.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 15%;

    > a {
        width: 70%;
        height: auto;
    }
}

.logo__img {
    width: 100%;
    object-fit: contain;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 80%;
}

@media (max-width: 600px) {
    .menu {
        position: absolute;
        left: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 100%;
        margin-top: 3rem;
        gap: .5rem 0;
        padding-bottom: 1rem;
        background: linear-gradient(white 20%, rgba(255, 255, 255, 0.8) 100%);
    }
}


@media (min-width: 600px) {
    .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 60%;
    }
}


.menu__item {
    position: relative;
    display: flex;
    @media (min-width: 600px) {
        flex-direction: column;
    }
    justify-content: space-around;
    align-items: center;
}

.menu__name {
    @media (min-width: 600px) {
        padding: 1rem 2rem;
        border-radius: 1rem 0 1rem 0;
    }

    @media (max-width: 600px) {
        padding: .5rem 1rem;
        border-radius: 1rem;
    }

    background-color: #9F1A59;

    > h2 {
        color: white;
    }
}

.menu__dropdownList {
    position: absolute;
    @media (min-width: 600px) {
        top: 100%;
        left: -25%;
    }
    @media (max-width: 600px) {
        top: 0;
        left: 100%;
        z-index: 100;
    }

    display: flex;
    flex-direction: column;

    width: 150%;
}

.dropdownList__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: center;

    padding: .5rem;

    color: black;
    background-color: #F7B7CE;
    border-bottom: 1px solid #9F1A59;

    transition: all .1s;

    &:hover {
        color: white;
        background-color: #872b56;
        border-radius: 1rem;
        transform: scale(1.1);
    }

    /*&:hover + :not(.dropdownList__item:hover) {
        background-color: #b1959d;
    }*/
}


.profile {
    @media (min-width: 600px) {
        width: 15%;
    }

    @media (max-width: 600px) {
        width: auto;
    }
}