.submit {
    color: white;
    background-color: #9F1A59;

    &:hover {
        color: #9F1A59;
        background-color: #F7B7CE;
    }
}

.delete {
    background-color: #ccc;

    &:hover {
        color: white;
        background-color: black;
    }
}

.button {
    width: 100%;
    padding: .5rem;

    border: none;
    border-radius: .2rem;

    transition: all .1s;
}

.simple {
    &:hover {
        color: white;
        background-color: black;
    }
}