.profile__photo {
    @media (min-width: 600px) {
        width: 30%;
    }
    @media (max-width: 600px) {
        width: 50%;
    }
    object-fit: contain;
}

.logout {
    border-radius: 1rem;

    @media (min-width: 600px) {
        width: 90%;
        padding: 1rem 2rem;
    }
    @media (max-width: 600px) {
        width: auto;
        padding: .5rem 1rem;
        white-space: nowrap;
    }
}